.container {
  height: 100vh;
  background: url("/images/home-bg.webp") center/cover;
}

.main {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  transition: all 1s ease-in-out;
}

.logo:hover {
  transform: scale(1.1);
}